/* .form {
    max-width: 40rem;
    margin: 2rem auto;
  }
  
  .form label,
  .form input,
  .form textarea {
    display: block;
    width: 100%;
  }
  
  .form input,
  .form textarea {
    font: inherit;
    padding: 0.25rem;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: var(--color-gray-300);
    color: var(--color-gray-800);
    border: none;
  }
  
  .actions button[type='button'] {
    background-color: transparent;
    color: var(--color-gray-300);
  }
  
  .actions button:hover {
    background-color: var(--color-primary-300);
  }
  
  .actions button[type='button']:hover {
    background-color: var(--color-gray-800);
  } */
  
.userImageContainer {
  border: 0.3rem solid gray;
  width: 45rem;
  height: 30rem;
  margin: auto;
}
.imageContainer{
  display: flex;
}
.right{
  width: 1.5rem;
  height: 4rem;
  position: absolute;
  top: 40%;
  right: 28%;
}
.left{
  width: 1.5rem;
  height: 4rem;
  position: absolute;
  top: 40%;
  left: 28%;
}

.left:hover {
  filter: grayscale(50%) opacity(50%);
}
.right:hover {
  filter: grayscale(50%) opacity(50%);
}
.defaultImg{
  margin-top: 5rem;
  width: 10rem;
}