.container {
    border: 1px solid black;
    position: absolute;
    bottom: 10%;

    height: 30rem;
    overflow: auto;
    /* 또는 overflow: scroll; */
    background: white;

}

.chat_header {
    display: flex;
    width: 20rem;
    background-color: skyblue;
    /* 원하는 배경색으로 변경 */
    z-index: 2;
    position: sticky;
    top: 0;
}

.chat_textfield {
    position: sticky;
    top: 28rem;
    width: 100%;
    background-color: skyblue;
    /* 원하는 배경색으로 변경 */
    z-index: 2;
}

.chatItem {
    list-style: none;
    padding: 0;
}

.defaultImg {
    width: 2rem;
}

.fileInput {
    display: none;
}