/* base styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities: {
    .btn-pressed {
        @apply transition active:scale-75;
    }
    .detail-center {
        @apply w-2/3 flex items-center justify-center;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 1.1em;
}
/* ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
} */
/* ul {
  list-style-type: none;
} */
/* .btn {
  background: none;
  border: 2px solid #1f9751;
  padding: 6px 12px;
  border-radius: 4px;
  color: #1f9751;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
} */
/* .btn:hover {
  background: #1f9751;
  color: #fff;
} */
